{% extends 'base.html' %}
{% load static %}

{% block title %}Beyond Engineering - Hayden Bussard{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Beyond Work: Who I Am</h1>

    <section class="mb-5">
        <h2>Lifelong Learner</h2>
        <p>I am addicted to learning. Off the top, these are some subjects & skills I'm frequently focused on:</p>
        <ul>
            <li>foreign languages (Portuguese)</li>
            <li>stock market</li>
            <li>programming</li>
            <li>...website development</li>
        </ul>
        <p>My love for learning translates directly into my professional life:</p>
        <ul>
            <li>Eagerly taking on the off-normal and challenging projects at work</li>
            <li>Adapting quickly and comfortably to unfamiliar tasks</li>
        </ul>
    </section>

    <section class="mb-5">
        <h2>Very Active</h2>
        <p>Staying active is a necessity for me.</p>
        <ul>
            <li>Weight training</li>
            <li>Playing golf (caddying also on the weekends)</li>
            <li>Walking my dog</li>
        </ul>
    </section>

    <section class="mb-5">
        <h2>Big Sports Guy</h2>
        <p>Here are my favorites and I struggled to order them by "Favorite to Least" so here's alphabetical:</p>
        <ul>
            <li>Football</li>
            <li>Golf</li>
            <li>Lacrosse</li>
            <li>Soccer</li>
        </ul>
    </section>

    <section class="mb-5">
        <h2>Aspiring Traveler</h2>
        <p>Took 1 overseas work trip in 2020 and immediately began making a list of all the other countries I need to see. Here are the one's I've been to so far:</p>
        <ul>
            <li>Canada</li>
            <li>Mexico</li>
            <li>Slovenia</li>
            <li>Italy</li>
            <li>Croatia</li>
            <li>Portugal</li>
        </ul>
        <p>...3 of these happened in 1 trip. While I dream of constantly traveling, I unfortunately do not</p>
    </section>

    <section>
        <h2>Personal Philosophy</h2>
        <p>I believe in continuous self-improvement and embracing new challenges.</p>
    </section>
</div>
{% endblock %}