{% extends 'base.html' %}
{% load static %}

{% block title %}Hayden Bussard - Home{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <!-- <h1 class="mb-4">KEEPING THIS HERE TO EVENTUALLY RECONSIDER HAVING A H1 OVER IMAGE</h1> -->
            
            <div class="mb-4">
                <img src="{% static 'images/headshot.JPG' %}" alt="Hayden Bussard" class="rounded-circle img-fluid" style="max-width: 200px;">
            </div>
            
            <p class="lead mb-5">Welcome to my personal website!</p>

            <div class="row mb-5">
                <div class="col-md-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Professional Profile</h2>
                            <p class="card-text">Learn about my background and explore my professional experiences.</p>
                            <a href="{% url 'about' %}" class="btn btn-primary">View My Portfolio</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Health Resources</h2>
                            <p class="card-text">Find valuable information and resources about Lyme disease and Bell's Palsy.</p>
                            <a href="{% url 'health_resources' %}" class="btn btn-info">Explore Health Resources</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="mt-5 text-muted">
                <p>
                    This website was developed using Django (a Python web framework), Bootstrap for responsive design, and it's hosted on Heroku, allowing for easy scaling and management.
                </p>
                <p class="small mt-2">
                    To learn more about how this site was built, click <a href="{% url 'website_info' %}">here</a>.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}