{% extends 'base.html' %}
{% load static %}

{% block title %}Lyme Disease Resources - Hayden Bussard{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Lyme Disease Resources</h1>

    <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Click to expand/collapse
        </a>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            This is some placeholder content for a collapsible element. It will expand when clicked.
        </div>
    </div>
</div>
{% endblock %}