{% extends 'base.html' %}
{% load static %}

{% block title %}Lyme Disease Resources - Hayden Bussard{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Lyme Disease</h1>

    <!-- Helpful Resources Section -->
    <h2 class="mb-3">Helpful Resources</h2>

    <!-- Social Media Resources -->
    <div class="card mb-4">
        <div class="card-header" id="socialMediaHeader">
            <h3 class="mb-0">
                <button class="custom-collapse-btn" type="button" data-bs-toggle="collapse" data-bs-target="#socialMediaContent" aria-expanded="false" aria-controls="socialMediaContent">
                    Social Media Accounts
                </button>
            </h3>
        </div>
        <div id="socialMediaContent" class="collapse" aria-labelledby="socialMediaHeader">
            <div class="card-body">
                <ul class="list-unstyled">
                    <li><a href="http://www.instagram.com/autoimmuneawarenessforall?igsh=MXU1czY1cmw4NG9xMg==" target="_blank">Autoimmune Disease Awareness on Instagram</a></li>
                    <li><a href="https://www.instagram.com/lymewars?igsh=Y21rZDNocHVwNDFy" target="_blank">Lyme Wars on Instagram</a></li>
                    <li><a href="https://www.instagram.com/drdanielcameron?igsh=azJtZGgxZW1nd3E=" target="_blank">Dr. Daniel Cameron on Instagram</a></li>
                    <!-- Add more social media resources as needed -->
                </ul>
            </div>
        </div>
    </div>
    

    <!-- Product Recommendations -->
    <div class="card mb-4">
        <div class="card-header" id="productsHeader">
            <h3 class="mb-0">
                <button class="custom-collapse-btn" type="button" data-bs-toggle="collapse" data-bs-target="#productsContent" aria-expanded="false" aria-controls="productsContent">
                    Helpful Products
                </button>
            </h3>
        </div>
        <div id="productsContent" class="collapse" aria-labelledby="productsHeader">
            <div class="card-body">
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <a href="https://a.co/d/gApM1uW" target="_blank">Nutricost Vitamin K2 (MK7) (100mcg) + Vitamin D3 (5000 IU) 120 Softgels - Gluten Free and Non-GMO</a>
                        <p class="text-muted mt-1 mb-0"><small>I remember reading that this combination K2 + D3 is optimal for replenishing a Vitamin D deficiency. I don't even know if I'm deficient but I know the deficiency happens with Lyme disease so I just tried it and I think it helps. I take this every morning.</small></p>
                    </li>
                    <li class="mb-3"></li>
                        <a href="https://a.co/d/5wp76fH" target="_blank">Nutricost Magnesium L-Threonate As Magtein 2000mg, 120 Capsules - Non-GMO, Gluten Free, Vegetarian Friendly</a>
                        <p class="text-muted mt-1 mb-0"><small>I have always taken magnesium supplements. A friend more recently introduced me to Magtein and the difference in how I feel and the quality of my sleep is just remarkable. I take this in the morning and an hour before bed.</small></p>
                    </li>
                    <li class="mb-3"></li>
                        <a href="https://a.co/d/8gXbcqu" target="_blank">Nutricost Vitamin B12 (Methylcobalamin) 2000mcg, 240 Capsules - Vegetarian Caps, Non-GMO, Gluten Free B12 Supplement</a>
                        <p class="text-muted mt-1 mb-0"><small>I'm a big fan of Vitamin B12. I've taken it periodically for years to support any short-term fatigue and started taking more consistently after that tick got me. I take this every morning.</small></p>
                    </li>
                    <li class="mb-3"></li>
                        <a href="https://a.co/d/cqvyiBB" target="_blank">Yogi Tea - Bedtime (6 Pack) - Supports a Good Night's Sleep - Tea with Passionflower, Chamomile, Valerian Root, and Lavender - 96 Organic Herbal Tea Bags</a>
                        <p class="text-muted mt-1 mb-0"><small>Truthfully, I don't know what makes this work. I'm inclined to believe that it's just a nice way to wind down before bed. So it's became a routine so I associate this tea with sleep. Also it tastes so good. I do use two bags though, 1 isn't enough flavor for me.</small></p>
                    </li>
                    <li class="mb-3"></li>
                        <a href="https://a.co/d/9yAzKFg" target="_blank">NeuroGum</a>
                        <p class="text-muted mt-1 mb-0"><small>This gum is fantastic but truly it's all about how well L-theanine and Caffeine seem to work together. I'll link some studies on this in the Additional Resources dropdown below.</small></p>
                    </li>
                    <!-- Add more product recommendations as needed -->
                </ul>
            </div>
        </div>
    </div>

    <!-- Additional Resources -->
    <div class="card mb-4">
        <div class="card-header" id="additionalResourcesHeader">
            <h3 class="mb-0">
                <button class="custom-collapse-btn" type="button" data-bs-toggle="collapse" data-bs-target="#additionalResourcesContent" aria-expanded="false" aria-controls="additionalResourcesContent">
                    Additional Resources
                </button>
            </h3>
        </div>
        <div id="additionalResourcesContent" class="collapse" aria-labelledby="additionalResourcesHeader">
            <div class="card-body">
                <ul class="list-unstyled">
                    <li><a href="https://lymediseaseassociation.org/" target="_blank">Lyme Disease Association</a></li>
                    <li><a href="https://www.cdc.gov/lyme/index.html" target="_blank">CDC Lyme Disease Information</a></li>
                    <li><a href="https://www.globallymealliance.org/lyme-patient-support/support-groups/" target="_blank">Global Lyme Alliance - Support Groups</a></li>
                    <li><a href="https://www.lymedisease.org/lyme-disease-support-groups/" target="_blank">LymeDisease.org - Support Groups</a></li>
                    <li><a href="https://projectlyme.org/resource/financial-assistance-programs/" target="_blank">Project Lyme - Financial Assistance Programs</a></li>
                    <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8794723/" target="_blank">National Library of Medicine - Caffeine & L-theanine</a></li>
                    <li><a href="https://www.nature.com/articles/s41598-020-70037-7" target="_blank">Another Interesting Study on Caffeine & L-theanine</a></li>
                    <!-- Add more resources as needed -->
                </ul>
            </div>
        </div>
    </div>
    <!-- My Experience Section -->
    <h2 class="mb-3">Other</h2>
    <div class="card mb-4">
        <div class="card-header" id="experienceHeader">
            <h2 class="mb-0">
                <button class="custom-collapse-btn" type="button" data-bs-toggle="collapse" data-bs-target="#experienceContent" aria-expanded="false" aria-controls="experienceContent">
                    My Experience with Lyme Disease
                </button>
            </h2>
        </div>
        <div id="experienceContent" class="collapse" aria-labelledby="experienceHeader">
            <div class="card-body">
                <p>I never saw a tick or bite mark. I first experienced Lyme symptoms in early June 2023. The initial symptom was an unusually high level of soreness throughout my body. As an active person, soreness wasn't uncommon, but this was pervasive and relentless. I rationalized it as a result of intensifying my workouts for summer.</p>

                <p>By mid-June, the soreness had evolved into pain, primarily in my back during the day and throughout my core at night. Sleep became elusive, ranging from zero to 2 hours per night.</p>

                <p>Seeking medical help, the only insight I could share with my doctor was that I had been working out harder. They consequently diagnosed costochondritis and prescribed a steroid. While it alleviated the core pain, sleep remained impossible.</p>

                <p>Over the next weeks, I experienced constant fatigue, frequent migraines, and persistent back pain. I also noticed circulation issues in my arms. Most troublingly, brain fog set in. I struggled to process information and became easily disoriented, leading to anxiety and depression.</p>

                <p>On July 6, 2023, after another sleepless night and a brief morning nap on the couch, I awoke with Bell's Palsy (right-sided facial paralysis). This led to the Lyme diagnosis.</p>

                <p>Post-treatment, I felt relatively better but still far from normal. Despite my doctor's assurance that "Lyme should be gone," I continued to struggle with fatigue, sleep, back pain, and brain fog.</p>

                <p>Unwilling to accept this new reality, I turned to social media and the internet for help. I discovered supplements that improved my condition and learned how to manage my symptoms better. However, as someone accustomed to constant self-improvement, I struggled with the newfound limitations and fatigue, which fueled my depression.</p>

                <p>Fortunately, I learned the importance of consistency in recovering from Lyme disease. For someone unfamiliar with Lyme symptoms, this might sound easy. But if you know, you know—it's not. If you can persevere and take the right supplements, eat nutrient-dense foods, avoid junk food and alcohol, and maintain a regular sleep schedule, you'll start to feel better. Take it from me, deviating from this comes with a price, and you may struggle for a few days until you recover again.</p>

                <p>When I really set myself back, however, I remember feeling oddly relieved. Even though I felt horrible again, I realized I was in complete control because I had been so consistent and feeling amazing leading up to one weekend of celebrations. Since then, I've been able to maintain my six-day-a-week weight lifting routine and live my life 100% normally.</p>

                <p>This experience motivated me to create this part of my website. If you're going through something similar, check out the Helpful Resources above if you haven't already for social media accounts, supplements, and other resources I found beneficial.</p>

                <p>Lastly, please use me as a resource. You can contact me through any means for specific questions or just to talk to someone who understands. I'm here for you!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}