{% extends 'base.html' %}
{% load static %}

{% block title %}Skills - Hayden Bussard{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">My Skills</h1>

    <div class="row">
        <div class="col-md-6 mb-4">
            <h2>Technical Skills</h2>
            <ul class="list-group">
                <li class="list-group-item">Engineering Design</li>
                <li class="list-group-item">Project Management</li>
                <li class="list-group-item">Requirements Analysis</li>
                <li class="list-group-item">Rapid Prototyping</li>
                <li class="list-group-item">Technical Communication</li>
            </ul>
        </div>
        <div class="col-md-6 mb-4">
            <h2>Soft Skills</h2>
            <ul class="list-group">
                <li class="list-group-item">Time Management</li>
                <li class="list-group-item">Customer/Vendor Relationships</li>
                <li class="list-group-item">Collaboration</li>
                <li class="list-group-item">Adaptability</li>
                <li class="list-group-item">Positive Mental Attitude</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <h2>Business Skills</h2>
            <ul class="list-group">
                <li class="list-group-item">New Business Development</li>
                <li class="list-group-item">Budgeting & Forecasting</li>
                <li class="list-group-item">Industry Insight</li>
            </ul>
        </div>
        <div class="col-md-6 mb-4">
            <h2>Technical Proficiencies</h2>
            <ul class="list-group">
                <li class="list-group-item">MS Office</li>
                <li class="list-group-item">SAP</li>
                <li class="list-group-item">Autodesk Inventor</li>
                <li class="list-group-item">SolidWorks</li>
                <li class="list-group-item">Python</li>
                <li class="list-group-item">SQL</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}